.DS_Store
.env*
.husky/_/
.idea/dataSources.local.xml
.idea/dataSources/*
.idea/httpRequests/*
.idea/shelf/*
.idea/sonarlint/
.idea/sonarlint/*
.idea/workspace.xml
.swc/
**/.env*
**/*.log
**/*.map
**/*.pem
**/src/**/*.js
**/tests/**/*.js
coverage/
dist/
node_modules/
tools
.env
.next